/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Mettre une typo (dans le dossier CSS) */

@font-face {
  font-family: 'cmu-serif-roman';
  src: url('cmu.serif-roman.ttf');
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ STYLE Pour l'écran */

html,
body {
  margin: 0;
  color: #000;
  background-color: #fff;
  width: 21cm;
  height: 29.7cm;
  font-family: 'cmu-serif-roman';
}
.infos{
  margin-left:2mm;
  margin-right:2mm;
  margin-top:0mm;
  margin-bottom:0mm;
  font-family: sans-serif;
}

.container_infos{
  display: flex;
}
.episode{
  width:100%;
  font-size:13pt;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.titre_episode{
  width:max-content;
  float: left;
  font-size:13pt;
  text-decoration: underline;
}
.sequence{
  font-size:13pt;
  border-radius:10mm;
  padding :2mm;
  background-color: lightgrey;
}

.lieu{
  font-size:13pt;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 4mm;
}
.personnages{
  font-size:13pt;
  width: fit-content;
  color:darkred;
}



blockquote{
  color: red;
  font-style: italic;
}

#container_txt{
  width: 15cm;
}

span{
  font-size:10pt;
  margin: 0;
  display: contents;
}

p{
  font-family: 'cmu-serif-roman';
  margin-left: 15mm;
  margin-bottom: 6mm;
  margin-top: 0mm;
}

h1{
  text-transform:uppercase;
  font-size: 14pt;
  margin-top:10mm;
  margin-bottom:0mm;
  margin-left: 15mm;
  text-align: center;
}

